body{
  overflow: hidden;
  background-color:#e3f2fd;
}

#def_dp{
  height:40px;
  width:40px;
}

nav,p,span {
  font-family:'Ubuntu';
}
span{
  color: white;
}

#grpchat,#rest
{
     height:88%;
}
#rest{
  width:72%;
  margin-left:20px;
  position:relative;
}

#grp_chat{
  height:92%;
}

#chat_window {
  border-radius:5px;
 /* border:1px solid;*/
  position:absolute;
  width:230px;
  margin-left:3px;
  height:230px;
  bottom: 0;
}

#chat_head {
  border-radius:5px;
  border:1px solid;
  position:absolute;
 /* display: inline-flex;*/
  width:232px;
  height:30px;
  margin-top:220px;
  bottom: 0;
}

#frnds {
  border-radius:5px;
 /* border:1px solid;*/
  position:absolute;
  width:230px;
  margin-left:3px;
  height:230px;
  bottom: 0;
  margin-left:735px;
}

#frnds_head {
  border-radius:5px;
  border:1px solid;
  position:absolute;
 /* display: inline-flex;*/
  width:232px;
  height:30px;
  bottom: 0;
}
